<form>
    <!-- Username input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Username</label>
      <input type="username" id="form2Example1" class="form-control" />
      <form action="login" method="post" autocomplete="off"></form>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Password</label>
      <input type="password" id="form2Example2" class="form-control" />
    </div>
  
    
  
    <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
    </div><br>
  
    <!-- Submit button -->
    <div>
    <button type="submit"></button>
    <td><a class="btn btn-success" href="login/">Signin</a></td>
    </div>
  </form>