<html>
    <head>
        <title>Register</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="col-md-offset-4 col-md-4">
                <form action="/updateData/{{data.id}}" method="POST" autocomplete="off">
                {% csrf_token %} 
                <h3 class="page-header text-primary text-center"> Update details of {{data.Name}}</h3>
                <div class="form-group">
                    <label>Emp_no</label>
                    <input type="text" class="form-control" value="{{data.Emp_no}}" name="emp_no">
                </div><br>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" value="{{data.Name}}" name="name">
                </div><br>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" value="{{data.Address}}" name="address">
                </div><br>
                <div class="form-group">
                    <label>Emp_start_date</label>
                    <input type="text" class="form-control" value="{{data.Emp_start_date}}" name="emp_start_date">
                </div><br>
                <div class="form-group">
                    <label>Emp_end_date</label>
                    <input type="text" class="form-control" value="{{data.Emp_end_date}}" name="emp_end_date">
                </div><br>
                <div class="form-group">
                    <label>Status</label>
                    <input type="text" class="form-control" value="{{data.Status}}" name="status">
                </div><br>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn.btn-primary btn-block">
                    
                </div>
            </form>
            </div>
        </div>
            </div>
    </body>
    
</html>
